{% if plugins.fundraiser[ref].active %}
  <div class="overlay-toggle">
    <div class="overlay-toggle__mobile-view overlay-toggle__mobile-view--closed">
      <div class="fundraiser-bar__content">
        <div id="fundraiser-component" class="fundraiser-bar {{ extra_class }} {% if freestanding %} fundraiser-bar--freestanding {% else %} sidebar stuck-right {% endif %}"></div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $(function() {
      window.champaign.myFundraiser = new window.champaign.Fundraiser({
        el: document.getElementById('fundraiser-component'),
        store: window.champaign.store,
        config: {
          pageId: "{{ id }}",
          title: {% if fundraiser_title %} "{{ fundraiser_title }}" {% else %} "{{ plugins.fundraiser[ref].title }}" {% endif %},
          preselectAmount: {{ plugins.fundraiser[ref].preselect_amount }},
          recurringDefault: "{{ plugins.fundraiser[ref].recurring_default }}",
          fields: {{ plugins.fundraiser[ref].fields | jsonify }},
          freestanding: {% if freestanding %} true {% else %} false {% endif %}
        }
      });
      window.setTimeout(function(){
        champaign.overlayToggle = new champaign.OverlayToggle();
      {% unless freestanding %}
        champaign.mySidebar = new champaign.Sidebar({petitionTextMinHeight: 162, baseClass: 'fundraiser-bar'});
      {% endunless %}
      }, 100);

    })
  </script>
{% endif %}
